{% extends "base_generic.html" %}
{% load login_extras %}

{% block content %}

    <h1> {{ customuser.first_name }} {{ customuser.last_name }}
        {% if user.is_authenticated and perms.library.can_change %}
            <a class="btn btn-primary" href="{% url 'edituser' customuser.id %}">Edit&nbsp;&nbsp;<i class="glyphicon glyphicon-edit"></i></a>
        {% endif %}
    </h1>

    <p><strong>E-mail:</strong> {{ customuser.email }} </p>
    <p><strong>Phone number:</strong> {{ customuser.phone_number }}</p>
    <p><strong>Address:</strong> {{ customuser.address }}</p>
    <p><strong>Type:</strong> {{ customuser.groups.first }}</p>

    <div>
        {% if user.is_authenticated and perms.library.can_delete %}
            {% if customuser.record_set.all.count != 0 %}
                <p><a class="btn btn-danger" disabled="disabled">Delete</a></p>
                <div class="alert alert-success" role="alert">
                    <h4>Documents:</h4>
                    {% if customuser|taken_books_list %}
                        {% for rec in customuser|taken_books_list %}
                            <p>
                                <a href="{{ rec.document.get_absolute_url }}"> {{ rec.document }}</a>
                                <a class="btn btn-success" href="{% url 'take' rec.document.id customuser.id %}">Collect</a>
                                <a class="btn btn-success" href="{% url 'ask' rec.document.id customuser.id %}">Ask for return</a>
                            </p>
                        {% endfor %}
                    {% else %}
                        This user has no documents
                    {% endif %}
                </div>
                <div class="alert alert-success" role="alert">
                    <h4>Requests:</h4>
                    {% if customuser|reserved_books_list %}
                        {% for rec in customuser|reserved_books_list %}
                            <p>
                                <a href="{{ rec.document.get_absolute_url }}"> {{ rec.document }}</a>
                                <a class="btn btn-success" href="{% url 'give_document' rec.document.id customuser.id %}">Give document</a>
                            </p>
                        {% endfor %}
                    {% else %}
                        This user has no requests
                    {% endif %}
                </div>
            {% else %}
                {% if user.id == customuser.id %}
                    <p><a class="btn btn-danger" disabled="disabled">Delete</a></p>
                    <div class="alert alert-success" role="alert">
                        You can not delete yourself
                    </div>
                {% else %}
                    <p><a class="btn btn-danger" href="{% url 'deleteuser' customuser.id %}">Delete</a></p>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}