{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="POST" action="{% url 'login' %}">
{% csrf_token %}
    <br>
    <div class="col-md-5">
        <label for="username">E-mail</label>
        <input type="text" class="textinput textInput form-control" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" class="textinput textInput form-control" name="password" id="password">
        {% if login_error %}
            <label class="error">{{ login_error }}</label>
        {% endif %}
        <br>
        <input class="btn btn-success" type="submit" value="Log in">
    </div>

{#    <p class="register"><a href="{% url 'register' %}">Not registered yet? Sign up</a></p>#}
</form>

{% endblock %}